{
  "extends": "@callstack",
  "plugins": ["perfectionist"],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "perfectionist/sort-objects": [
      "error",
      {
        "type": "line-length",
        "order": "desc"
      }
    ],
    "import/newline-after-import": ["error", { "count": 1 }],
    "react-native/no-raw-text": [
      "off",
      {
        "skip": ["Heading", "Body", "Title", "Button"]
      }
    ],
    "react-native/no-color-literals": "off",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.stories.tsx", "test/**", "*.config.js", "*.config.ts"],
      "rules": {
        "import/no-default-export": "off",
        "import/no-extraneous-dependencies": "off"
      }
    },
    {
      "files": ["test/**"],
      "env": {
        "jest": true,
        "jest/globals": true
      }
    },
    {
      "files": ["theme.ts"],
      "rules": {
        "import/no-default-export": "off",
        "import/no-extraneous-dependencies": "off"
      }
    }
  ]
}
