<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374318773989-dn25qpi00c9udnb96nsuo9bo3pkadr6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374318773989-dn25qpi00c9udnb96nsuo9bo3pkadr6i</string>
	<key>API_KEY</key>
	<string>AIzaSyAgmxXMO-8ugeYYb4K_UqbvM_23xlgAEqk</string>
	<key>GCM_SENDER_ID</key>
	<string>374318773989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stringsaeed.brim</string>
	<key>PROJECT_ID</key>
	<string>brim-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>brim-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374318773989:ios:4f67c131610dc8eb75860c</string>
	<key>DATABASE_URL</key>
	<string>https://brim-mobile-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>